.swipe-left-appear {
    transform: 0;
}
.swipe-left-appear-active {
    transform: translate(-150vw, 0px);
}
.swipe-left-appear-done {
    transform: translate(-150vw, 0px);
}
.swipe-left-enter {
    transform: 0;
}
.swipe-left-enter-active {
    transform: translate(-150vw, 0px);
}
.swipe-left-enter-done {
    transform: translate(-150vw, 0px);
}
.swipe-left-exit {
    transform: translate(-150vw, 0px);
}
.swipe-left-exit-active {
    transform: 0;
}
.swipe-left-exit-done {
    transform: 0;
}
