.trans-appear {
    opacity: 0.4;
    transform: rotate(-15deg) scale(0.7) translate(-60vw, -165vh);
    transition: opacity 1.3s linear, transform 1.3s ease-in-out;
}

.trans-appear-active {
    opacity: 1;
    transform: none;
}

.trans-exit {
    opacity: 1;
    transform: none;
    transition: opacity 1.3s linear, transform 1.3s ease-in-out;
}

.trans-exit-active {
    opacity: 0.4;
    transform: rotate(-15deg) scale(0.7) translate(60vw, 165vh);
}
