<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <html lang="en-US">
        <meta name="author" content="Shady Goat">
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/svg+xml" href="assets/favicon.svg">
        <meta content="<% preact.title %>" property="og:title" />
        <meta content="https://shadygoat.eu" property="og:url" />
        <meta content="https://shadygoat.eu/pfp.webp" property="og:image" />
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
        <!-- <meta name="description" content="<% preact.manifest.description %>"> -->
        <!-- <meta content="<% preact.manifest.description %>" property="og:description" /> -->
        <!-- <meta content="<% preact.manifest.theme_color %>" name="theme-color" /> -->
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
